// 配置全局主题色
$themeColor: #2f97ec;

// flex竖向
.flex-col {
  display: flex;
  flex-direction: column;
}
// flex横向
.flex-align {
  display: flex;
  align-items: center;
}
img{
  width: 100%;
  height: 100%;
}

// 全局隐藏滚动条
html,body{ width: 100%; height: 100%; overflow: scroll;}
html::-webkit-scrollbar, body::-webkit-scrollbar{width:0px;height:0px;}
body{margin:0;}


